*{
    font-family: "Monument Extended", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100vh;
  background: transparent;
  right: 0px;
  padding-right: 50px;
  transition: width 0.3s ease;
  z-index: 20;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar.closed{
    width: 60px;
    background: transparent;
}

.sidebar.open {
    width: 400px;
    background: black;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 70px;   
}

.menu-icon,
.close-icon {
    width: 30px;
    cursor: pointer;
}

.logo {
    width: 220px;
    cursor: pointer;
    display: inline-block;

}

.details-scroll {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    color: white;
}

.details-scroll p {
    font-size: 25px;
}

.icon-column {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.icon-row {
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.sidebar-icon {
    width: 30px;
}

.icon-label {
    color: white;
    margin-left: 8px;
}

.auth-buttons {
    padding: 15px;
    display: flex;
    justify-content: left;
    gap: 20px;
    margin-bottom: 20px;
}

.sign-in {
    padding: 10px 20px;
    background: black;
    color: white;
    border-color: white;
    cursor: pointer;
    font-weight: 600;
}

.sign-in:hover {
    background-color: white;
    color: black;
}

.or{
    color: white;
}

.sign-up{
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}